@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Black.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Bold.otf)
		format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Light.otf)
		format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Regular.otf)
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Medium.otf)
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-UltraLight.otf)
		format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-Black.otf)
		format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-BlackItalic.otf)
		format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-BoldItalic.otf)
		format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-RegularItalic.otf)
		format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-LightItalic.otf)
		format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-MediumItalic.otf)
		format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-UltraLightItalic.otf)
		format("opentype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Kawak";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/English-Font/Kawak-BlackItalic.otf)
		format("opentype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICBLACK.otf)
		format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICBOLD.otf)
		format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICLIGHT.otf)
		format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICREGULAR.otf)
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICMEDIUM.otf)
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICULTRALIGHT.otf)
		format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "DIN NEXT";
	src: url(assets/vendors/base/fonts/Mjlsi-Visual-Identity/Arabic-Font/DINNEXTARABICBLACK.otf)
		format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "MrsSaintDelafiel";
	src: url(assets/vendors/base/fonts/signature-fonts/miss_saint_delafield/MrsSaintDelafield-Regular.ttf)
		format("truetype");
}

@font-face {
	font-family: "CalendaryHands";
	src: url(assets/vendors/base/fonts/signature-fonts/calendary_hands/CalendaryHands_PERSONAL_USE_ONLY.ttf)
		format("truetype");
}

@font-face {
	font-family: "Hijrnotes";
	src: url(assets/vendors/base/fonts/signature-fonts/hijrnotes/Hijrnotes_PERSONAL_USE_ONLY.ttf)
		format("truetype");
}

@font-face {
	font-family: "Unthrift";
	src: url(assets/vendors/base/fonts/signature-fonts/unthrift_demo/UnthriftFirPersonal.ttf)
		format("truetype");
}

@font-face {
	font-family: "Reey";
	src: url(assets/vendors/base/fonts/signature-fonts/reey/Reey-Regular.otf)
		format("opentype");
}

@font-face {
	font-family: "Windsong";
	src: url(assets/vendors/base/fonts/signature-fonts/windsong/Windsong.ttf)
		format("truetype");
}

@font-face {
	font-family: "Yaquote";
	src: url(assets/vendors/base/fonts/signature-fonts/yaquote_script_demo/YaquoteScript_PersonalUse.ttf)
		format("truetype");
}

body {
	font-size: 14px !important;
	font-family: "Kawak" , "MrsSaintDelafiel" ,"CalendaryHands" ,"Hijrnotes" , "Unthrift" ,"Reey" ,"Windsong", "Yaquote" !important;
	font-style: normal;
}
.btn
{
	font-family: "Kawak"  !important;
}

// .blockquote,
// .blockquote *,
// .button,
// .container--nav-dropdown .container--nav-dropdown__content .h2,
// .container--nav-dropdown .container--nav-dropdown__content h2,
// .content-hub--navigation--list .article-wrapper .link .article .heading,
// .customer-story-full-width-image h2,
// .dynamic-hero-section--block--inner-content--title,
// .dynamic-hero-section--block--inner-content--title p,
// .eyebrows,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
// .header-dropdown--products .header-product::before,
// .imkt-countdown-timer--shipit .imkt-countdown-timer__digit,
// .imkt-countdown-timer--shipit .imkt-countdown-timer__label,
// .imkt-navbar__title-text,
// .price,
// .subnavigation--company__heading .item-2 a,
// .subnavigation--mobile--header a.cms-link,
// .subnavigation--product li a,
// .text-oversized :not(.heading),
// .webinar-block__cta p,
// .wpl .p--oversized p,
// .wpl .webinar-block__cta p,
// .wpl blockquote.large-quote::before,
// .wpl p.p--oversized,
// blockquote,
// blockquote *,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// input.global-nav--wac__search-input[type="text"],
// input.global-nav--wac__search-input[type="text"]::placeholder,
// nav.component-nav a,
// p.hero,
// p.oversize {
// 	font-family: Kawak, DIN NEXT, -apple-system, BlinkMacSystemFont, Segoe UI,
// 		Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;
// 	font-style: normal;
// }

// a,
// a.button,
// body,
// cite,
// cite *,
// h2.quote,
// p,
// small,
// svg * {
// 	font-family: Kawak, DIN NEXT, -apple-system, BlinkMacSystemFont, Segoe UI,
// 		Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;
// }

// .mat-table,
// .form-control,
// .btn,
// .mat-table .mat-sort-header-button {
// 	font-family: Kawak, DIN NEXT, -apple-system, BlinkMacSystemFont, Segoe UI,
// 		Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;
// }
// .mat-table .mat-sort-header-button {
// 	font: -webkit-control;
// }
