@import '../theme';
@import '../mixins';
.modal-header{
    padding: 25px;
    .modal-title 
    {
        font-size: 20px !important;
        font-weight: 600 !important;
        color: #000 !important;
    }
}
.modal-body{
    padding: 25px;
}
.modal-footer{
    padding: 25px;
}
.mat-dialog-container {
	padding:0 !important;;
    overflow: hidden!important;
 
}

.signature-card ,.signature-form
{
    canvas 
    {
        // width: 100%;
        // height: 100%;
        // display: flex;
    }
}

.btn-dark 
{
    background: #3D5067;
}


.style-ltr 
{
    direction: ltr;
    text-align: left;
    font-family:  "DIN NEXT" !important;
    .clearBTN, .style-btn
    {
        right: 20px !important;
        left: unset !important;
    }
}