<div class="signature-modal">
	<div class="modal-header">

		<h4 class="modal-title text-center" id="modal-basic-title">{{'COMMENTS.ADD_COMMENT' | translate}}</h4>
		<button type="button" [disabled]="submitted" class="close" aria-label="Close"
			(click)="activeModal.close('Close click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body pt-2" [ngClass]="{'style-ltr': lang == 'en' }" >
		<ngb-tabset #t="ngbTabset" (tabChange)="changeTab($event)">
			<ngb-tab id="{{signatureTypeEnum.DRAW}}">
				<ng-template ngbTabTitle>{{'COMMENTS.DRAW' | translate}}</ng-template>
				<ng-template ngbTabContent>
					<div class="signature-form">
						<div class="form-group m-form__group ">
							<div class="signature-card">
								<signature-pad (onBeginEvent)="drawStart()" [options]="signaturePadOptions">
								</signature-pad>
								<button (click)="clear()"
									class="clearBTN btn btn-dark">{{'COMMENTS.CLEAR' | translate}}</button>
							</div>
							<h4 class="m--font-danger" *ngIf="hasEmptySign && !drawStarted">
								{{'COMMENTS.VALIDATIONS.SINGNTURE' | translate}}</h4>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="{{signatureTypeEnum.UPLOAD}}">
				<ng-template ngbTabTitle>{{'COMMENTS.UPLOAD' | translate}}</ng-template>
				<ng-template ngbTabContent>
					<!-- <div class="d-flex mb-2 justify-content-end">
						<div class="text-center">

						</div>
					</div> -->
					<div class="upload-img-container d-flex justify-content-center align-items-center mb-5">
						<img class="uploaded-img" [src]="localUrl" *ngIf="localUrl">
						<div class="upload-button" *ngIf="!localUrl">
							<input type="file" class="custom-file-input" accept="image/*"  (change)="showPreviewImage($event)">
							<span class="btn btn-dark upload-btn">{{'COMMENTS.UPLOAD_SIGNATURE' | translate}} <img
									src="assets/img/upload.png"></span>
						</div>
						<button *ngIf="localUrl" class="clearBTN btn btn-dark" (click)="clearImage()">{{'COMMENTS.CLEAR' | translate}}</button>
					</div>

					<h4 class="m--font-danger" *ngIf="hasEmptyUpload">
						{{'COMMENTS.VALIDATIONS.SINGNTURE_UPLOAD' | translate}}</h4>
						<h4 class="m--font-danger" *ngIf="signatureUploadTypeError">
							{{'COMMENTS.VALIDATIONS.SINGNTURE_UPLOAD_TYPE' | translate}}</h4>



				</ng-template>
			</ngb-tab>
			<ngb-tab id="{{signatureTypeEnum.TYPE}}">
				<ng-template ngbTabTitle>{{'COMMENTS.TYPE' | translate}}</ng-template>
				<ng-template ngbTabContent>
					<div class="type-tab mb-5">
						<div class="signature-form">
							<div class="form-group">

								<label>{{'COMMENTS.YOUR_NAME' | translate}}</label>
								<input type="text" [(ngModel)]="signatureByType" class="form-control"
									(ngModelChange)="startTyping()">
							</div>
							<div
								class="mt-3 upload-img-container small d-flex justify-content-between align-items-center">

								<canvas #myCanvas class="fontLoad">
								</canvas>
								<button class="btn btn-dark style-btn align-self-start"
									(click)="changeFont()">{{'COMMENTS.CHANGE_STYLE' | translate}}</button>
							</div>
						</div>
					</div>
					<h4 class="m--font-danger" *ngIf="hasEmptyType">
						{{'COMMENTS.VALIDATIONS.SINGNTURE_TYPE' | translate}}</h4>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="{{signatureTypeEnum.SAVEDSIGNATURE}}">
				<ng-template ngbTabTitle>{{'COMMENTS.SAVED_SIGNATURE' | translate}}</ng-template>
				<ng-template ngbTabContent>
					<div class="signature-form mb-5">
						<div *ngIf="userSignatures.length == 0"
							class="upload-img-container no-border d-flex flex-column justify-content-center align-items-center">
							<div class="icon d-flex justify-content-center align-items-center"><img
									src="assets/img/contract.png"></div>
							<p class="mt-3">{{'COMMENTS.DONT_HAVE_SIGNATURE' | translate}}</p>
						</div>
						<div *ngIf="userSignatures.length > 0"
							class="upload-img-container no-border d-flex justify-content-center flex-wrap scrollable">
							<img *ngFor="let item of userSignatures" class="signature-img"
								[ngClass]="{'selected-signature-img':  item.UserSignatureID == selectedItemId}"
								[src]="item.SignatureValue"
								(click)="setSignatureValueUrl(item.SignatureValue ,item.UserSignatureID)">
						</div>

					</div>
					<h4 class="m--font-danger" *ngIf="hasEmptyChoice">
						{{'COMMENTS.VALIDATIONS.SINGNTURE_CHOICE' | translate}}</h4>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
		<div class="signature-form">
			<div class="form-group mt-3">
				<label>{{'COMMENTS.ADD_COMMENT' | translate}}</label>
				<textarea class="form-control" [(ngModel)]="signComment"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" [disabled]="submitted" class="btn btn-outline-dark btn-lg"
			(click)="activeModal.close('Close click')">{{'COMMENTS.CANCEL' | translate}} <i
				class="fa fa-times"></i></button>
		<div class="left-buttons">
			<button type="button" [disabled]="submitted" class="btn btn-primary btn-lg mx-3" (click)="submit(false)">
				{{'COMMENTS.SIGN' | translate}} <i class="fa fa-check"></i></button>
			<button type="button" [disabled]="submitted" [hidden]="activeTab == signatureTypeEnum.SAVEDSIGNATURE"
				class="btn btn-primary btn-lg" (click)="submit(true)"> {{'COMMENTS.SIGN_AND_SAVE' | translate}} <i
					class="fa fa-check"></i></button>
		</div>

	</div>

</div>
