

.btn-primary {
	background: #f6861f;
	border: 1px solid #f07c12;
	color: #fff;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #f07c12;
	border: 1px solid #f07c12;
	color: white; 
  }