

.btn-primary {
	background: #0066CC;
	border: 1px solid #0066CC;
	color: #fff;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #0066CC;
	border: 1px solid #0066CC;
	color: white;
  }
