
.btn-primary {
    background: #00548B;
    border: 1px solid #00548B;
	color: #ffffff;

}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: rgb(4, 96, 158);
	border: 1px solid rgb(4, 96, 158);
	color: white;
  }