// fonts
$font-stack: Helvetica, sans-serif;

// colors
$primary-color: #f6861f;
$secondary-color: #cac6a1;
$secondary-dark-color:#b7b389;
$primary-dark-color: #f07c12;
$shadow-color:rgba(153, 153, 153, 0.11);
$cancelbtn-color:#c4c5d6;
$success-color:#7cecbb;
$link-color:#36a3f7;
$available-color:#4af1a8;
$offline-color:#d6d6d6;
$input-color:#575962;
.PrimColor{
	color:$primary-color;
}
.secondColor{
	color:$secondary-color;
}

